@media (max-width: 767px) 
{
  .brand 
  {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

.page 
{
  margin: 0px;
  padding: 0px;
}
