#inventory-paper
{
    width: 65%;
    margin: 2em auto;
    overflow-x: auto;
}

#inventory-table th, #inventory-table td
{
    font-size: 11pt;
    height: 90%;
    text-align: center;
    white-space: nowrap;
}

#inventory-table th
{
    background-color: rgb(5, 15, 50);
    color: white;
    font-weight: bold;
    border-bottom: solid 2px red;
}

#inventory-table .category
{
    border-left: solid 2px red;
    border-right: solid 2px red;
}

#spinner-div
{
    margin-top: 23%;
}

#spinner
{
    background-color:  transparent;
    margin: auto;
    width: 10em;
    height: 10em;
}

#mapping0
{
    font-size: 15px;
}

#mapping1
{
    font-size: 15px;
}