#companys-paper
{
    width: 55%;
    max-height: 30em;
    margin: 2em auto;
    overflow-x: auto;
}

#companys-paper
{
    width: 65%;
    max-height: 30em;
    margin: 2em auto;
    overflow-x: auto;
}

#companys-paper th, #companys-paper td
{
    font-size: 11pt;
    text-align: center;
    white-space: nowrap;
}

#companys-paper th
{
    background-color: rgb(5, 15, 50);
    color: white;
    font-weight: bold;
    border-bottom: solid 2px red;
}

#companys-paper .category
{
    border-left: solid 2px red;
    border-right: solid 2px red;
}


#inventory-paper
{
    width: 65%;
    margin: 2em auto;
    overflow-x: auto;
    margin-top: 7em;
}

#inventory-table th, #inventory-table td
{
    font-size: 11pt;
    height: 90%;
    text-align: center;
    white-space: nowrap;
}

#inventory-table th
{
    background-color: rgb(5, 15, 50);
    color: white;
    font-weight: bold;
    border-bottom: solid 2px red;
}

#inventory-table .category
{
    border-left: solid 2px red;
    border-right: solid 2px red;
}

#spinner-div
{
    margin-top: 23%;
}

#spinner
{
    background-color:  transparent;
    margin: auto;
    width: 10em;
    height: 10em;
}

.form-control
{
    font-size: 15px;
    text-align: center;
}

input[type=text]
{
    cursor: pointer;
}