@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

@media (max-width: 991px)
{
  #banner
  {
    font-size: 40pt !important;
  }

  .login
  {
    padding-bottom: 0 !important;
  }
}

/* Banner */
#banner
{
    font-family: Raleway;
    font-size: 60pt;
    text-align: center;
}

html
{
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

body
{
  background-color: #FFF;
  margin: 0;
  height: 100%;
  width: 100%;

  overflow: auto;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.login
{
  position: relative;
  top: -3em;

  width: 15em;
  max-width: 90%;

  box-sizing: border-box;
  color: white;
  background: rgb(0, 18, 45);
  padding: 1em 3em;
  padding-bottom: 0.5em;

  border-radius: 5%;

  margin: auto;
}

.login h1
{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-family: Poppins;
}

.login input
{
  width: 100%;
  margin-bottom: 1.5em;
}

.login input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 0.1em solid rgb(175, 28, 28);
  background: transparent;
  outline: none;
  height: 2.7em;
  color: white;
}

.login input[type="text"]::placeholder, input[type="password"]::placeholder
{
  color: white;
}

.login input[type="submit"]
{
  background:  rgb(175, 28, 28);
  color: white;
  outline: none;
  border: none;
}

.login a
{
  color: white;
  width: 100%;
}

.login a:focus
{
  outline: none;
}

.login p
{
  text-decoration: underline;
}
