@media (max-width: 922px)
{
    .all
    {
        flex-direction: column !important;
    }

    .left, .right
    {
        width: 100% !important;
        margin-left: 1.5em !important;
    }

    .left
    {
        margin-bottom: 3em !important;
    }
}

.all
{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.all .left 
{
    width: 50%;
    color: white;
    margin-left: 2em;
}

#warehouse-picker
{
    width: 100%;
    max-width: 450px;
}

#warehouse-picker .dropdown-toggle
{
    font-size: 14pt;
    background-color: #19305D;
    border: none;
    border-bottom: solid 1px white;
    box-shadow: none;
}

#warehouse-picker .dropdown-toggle:hover, #warehouse-picker .dropdown-toggle:focus
{
    border-bottom: solid 0.1em red;
}

.btn
{
    border-radius: none;
    width: 10em;
    font-size: 1.2em;
}

#warehouse-picker .dropdown-menu
{
    width: 100%;
}

#warehouse-picker .dropdown-item
{
    font-size: 14pt;
    color: black;
    background-color: white;
    width: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

#warehouse-picker .dropdown-item:not(:last-child)
{
    border-bottom: 1px solid rgb(187, 197, 216);
}

#warehouse-picker .dropdown-item:hover
{
    background-color: rgb(214, 214, 214) !important;
}

#warehouse-company,  #warehouse-address
{
    font-size: 14pt;
}

#warehouse-company > span:first-child, #warehouse-address > span:first-child
{
    border-bottom: 2px solid red;
    font-weight: bold;
    margin-right: 1em;
}

#warehouse-company, #warehouse-address, #warehouse-assets
{
    margin-top: 1em;
}

#warehouse-assets
{
    font-size: 14pt;
    font-weight: bold;
    color: white;
}

#warehouse-assets
{
    max-width: 20em;
}

#warehouse-assets > p
{
    border-bottom: 2px solid red;
}

#warehouse-assets > img
{
    width: 100%;
}

.totalAssets
{
    margin-top: 2em;
    font-size: 14pt;
}

.totalAssets > :first-child
{
    font-weight: bold;
    border-bottom: 2px solid red;
    margin-right: 1em;
}

/* right */ 

.all .right 
{
    width: 50%;
    height: 80%;
} 

.my-custom-scrollbar 
{
    width: 97%;
    max-height: 55em;
    overflow-y: auto;
    display: block;
    overflow-x: auto;
    margin-bottom: 1em;
    -webkit-box-shadow: -26px 1px 85px -39px rgba(0,0,0,1);
    -moz-box-shadow: -26px 1px 85px -39px rgba(0,0,0,1);
    box-shadow: -26px 1px 85px -39px rgba(0,0,0,1);
    border-radius: 0.3em;

}

.my-custom-scrollbar thead > tr > th
{
    background-color: rgb(5, 15, 50);
    color: white;
}

.all > .right table
{
    width: 100%;
}

.right table th
{
    border-bottom: 2px solid red;
    font-weight: bold;
}

.right table th, .right table td
{
    text-align: center;
    font-size: 14pt;
}

.right table td
{
    background-color: white;
    color: black;
}