@media (max-width: 900px)
{
    .warehouse-picker > h1
    {
        margin-top: 1em !important;
    }
}

.all
{
    margin-left: 3em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.all .left 
{
    width: 50%;
    float: left;
}

.all .right 
{
    background-color: rgb(127,149,181);
    width: 100%;
    height: 55em;
    float: right;
    margin-left: 7%;
    border: 1px solid white;
} 

.all .left h1, .all .right > h1 
{
    margin-left: 6%;
    color: white;
} 

.warehouse-picker
{
    width: 100%;
    max-width: 450px;
}

.left h1
{
    line-height: 45px;
    margin-bottom: 0;
    height: 2em;
    font-size: 18pt;
    display: inline-block;
}

.btn
{
    border-radius: none;
    width: 10em;
    font-size: 1.2em;
}

.dropdown-menu
{
    width: 100%;
}

.dropdown-item
{
    font-size: 2.4em;
    color: black;
    background-color: white;
    width: 100%;
    padding-left: 1.7em;
}

.dropdown-item:not(:last-child)
{
    border-bottom: 1px solid rgb(187, 197, 216);
}

.dropdown-item:hover
{
    background-color: rgb(214, 214, 214);
}

.btn-secondary
{
    border: none;
    border-bottom: solid 0.1em white;
    font-size: 2.5em;
    box-shadow: none;
    /* width: 100%; */
    background-color: #19305D;
}

.show > .btn-secondary.dropdown-toggle
{
    background-color: #19305D;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.1em white;
}

.btn-secondary:hover 
{
    background-color: #19305D;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.1em red;
    color: white;
}

#dropdownMenuLink:active    
{
  background-color: #19305D;
  border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.1em white;
}

/* Tirar aquela paneleiragem daquela border cinzenta */
#dropdownMenuLink:focus    
{
    background-color: #19305D;
    text-decoration: none;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 0.1em white;
    box-shadow: none;
}

.localization
{
    margin-top: 20%;
}

.localization > p
{
    font-size: 2.5em;
    margin-left: 15%;
    margin-top: -7% ;
}

p 
{
    color: white;
}

.assets
{
    margin-top: 30%;
    font-size: 2em;
    color: white;
}

.assets > p
{
    font-size: 2em;
}

/* scroll */ 

.my-custom-scrollbar 
{
    position: relative;
    height: 18em;
    overflow: auto;
    font-size: 3em;
    width: 23em;
}
.table-wrapper-scroll-y 
{
    display: block;
}

.totalAssets > h1
{
    margin-top: 3em;
    font-size: 4em;
    color: white;
}