@media (max-width: 800px) and (min-width: 767px)
{
    .step
    {
        font-size: 12pt !important;
    }

    #processes > .card
    {
        width: 90% !important;
    }
}

@media (max-width: 767px) 
{
  .step
  {
      flex-direction: column !important;
  }

  .step > *
  {
    margin: 1em 0 !important;
  }
}

.addProcess
{
    margin-top: 3%;
    width: 100%;
    margin-left: 4em;
    color: white;
    background: none;
    text-align: left;
    padding: 0;
    border: 0;
}

.addProcess > :first-child:focus
{
    outline: none;
}

.addProcess:focus
{
    box-shadow: none;
    outline: none;
}

.addProcess > span
{
    margin-left: 1em;
    cursor: default;
}

.addProcess > span:last-child
{
    font-size: 14pt;
    position: relative;
    top: 5px;
}

#accordion
{
    width: 100%;
    margin-top: 4em;
}

#processes > .card
{
    background-color: rgb(50, 84, 128);
    border-radius: 1em !important;
    width: 70%;
    margin: 5em auto;
    border: none;
    color: white;
}

#processes .card-header
{
    background-color:#3566A6;
}

#processes .card-header button
{

    font-size: 18pt;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
}

#processes .card-header button:hover, #processes .card-header button:focus
{
    text-decoration: none;
    color: white;
}

#processes .card-body
{
    display: flex;
    flex-direction: column;
}

#processes .card-body > i
{
    margin: auto;
    margin-top: 1em;
    width: 0%;
}

#processes .card-body > hr
{
    width: 100%;
    border: solid 1px white;
    margin: 2em 0;
}

.step, #processes .card-body > i
{
    font-size: 16pt;
    text-align: center;
    margin-bottom: 1em;
}

.step 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: auto;
}

.step > span:first-child
{
    margin-right: 2em;
    font-size: 24pt;
    background-color: red;
    border-radius: 50%;
    min-width: 1.5em;
}

.step > i
{
    font-size: 20pt;
    padding-bottom: 0.4em;
    color: rgb(8, 255, 8);
    margin: 0 2em;
}

.step > img
{
    width: 3em;
    min-width: 2em;
    margin-right: 3em;
    border: transparent 1px black;
    border-radius: 50%;
}

.step > span:nth-child(2)
{
    width: 20%;
}

.tooltip 
{
    font-size: 12pt;
}