.addProcess
{
    margin-top: 3%;
    width: 15%;
    margin-left: 4em;
    color: white;
    text-align: left;
    padding: 0;
    border: 0;
}

.addProcess:hover
{
    border: none;
    color: white;
}

.addProcess:focus
{
    box-shadow: none;
}

.addProcess > span:first-child
{
    padding: 0;
    font-size: 30pt;
    color: inherit;
    background-color: #6795D1;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    line-height: 35px;
    margin-right: 0.5em;
}

.addProcess > span:last-child
{
    font-size: 14pt;
    position: relative;
    top: 5px;
}

#accordion
{
    width: 100%;
    margin-top: 4em;
}

.card
{
    background-color: rgb(50, 84, 128);
    border-radius: 1em !important;
    width: 50%;
    margin: 5em auto;
    border: none;
    color: white;
}

.card-header
{
    background-color:#3566A6;
}

.card-header button
{

    font-size: 18pt;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
}

.card-header button:hover, .card-header button:focus
{
    text-decoration: none;
    color: white;
}

.card-header button.collapsed::after
{
    font-family: 'Glyphicons Halflings'; 
    content:"\e114";
    float: right;          
}

.card-header button::after
{
    font-family: 'Glyphicons Halflings'; 
    content: "\e113";   
    float: right;  
}

.card-body
{
    display: flex;
    flex-direction: column;
}

.step, .card-body > i
{
    font-size: 16pt;
    text-align: center;
    margin-bottom: 1em;
}

.step > i
{
    font-size: 20pt;
}

.step > i:last-child
{
    margin-left: 1em;
    color: rgb(8, 255, 8);

}

.step > i:first-child
{
    margin-right: 1em;
    color: red;
}