.addProcess
{
    margin-top: 3%;
    width: 15%;
    margin-left: 4em;
    color: white;
    text-align: left;
    padding: 0;
    border: 0;
}

.addProcess:hover
{
    border: none;
    color: white;
}

.addProcess:focus
{
    box-shadow: none;
}

.addProcess > span:first-child
{
    padding: 0;
    font-size: 30pt;
    color: inherit;
    background-color: #6795D1;
    border-radius: 0;
    height: 1em;
    width: 1em;
    line-height: 35px;
    margin-right: 0.5em;
}

.addProcess > span:last-child
{
    font-size: 14pt;
}

p > input[type="submit"]
{
    margin-right: 3%;
    
    color: white;
    border: solid 0.2em rgb(53,102,166);
}

p > input[type="submit"]:hover
{
    color: rgb(254,0,0);
}

#accordion
{
    margin-top: 2%;
    margin-left: 45%;
}

#headingOne, #headingTwo
{
    background-color: rgb(53,102,166);
    text-align: center;
}

button[type="button"] 
{
    color: white;
}

button[type="button"]:hover 
{
    
}

.card
{
    width: 50%;
    margin-bottom: 5em;
}